- var randomInt = function(min, max) { return Math.round(min - 0.5 + Math.random() * (max - min + 1)); }
- var getDash = function(str) { return str.split(' ').map(function(w) { return '<span>' + w + '</span>'; }).join(' '); }

- var version = '?ver=1.0'

doctype html
html
	head
		title= __('БИТВА ЗА МОСКВУ. ПЕРВАЯ ПОБЕДА')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
		link(rel='stylesheet', type='text/css', href='/build/css/mobile.css' + version)
		link(rel='stylesheet', type='text/css', href='/libs/css/swiper.min.css' + version)
		link(rel='stylesheet', type='text/css', href='/libs/css/leaflet.css' + version)
		link(rel='stylesheet', type='text/css', href='/libs/css/easy-button.css' + version)
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='/libs/js/jquery-2.2.4.min.js' + version)
		script(type='text/javascript', src='/libs/js/swiper.jquery.min.js' + version)
		script(type='text/javascript', src='/libs/js/leaflet.js' + version)
		script(type='text/javascript', src='/libs/js/easy-button.js' + version)
		script(type='text/javascript', src='/build/js/main.js' + version)
		script(type='text/javascript', src='/build/js/plan.js' + version)
		script(type='text/javascript', src='/build/js/g_maps.js' + version)
	body
		.menu-block
			.menu-items.main
				.menu-drop
					.menu-item.main= __('Главная')
					.menu-item.heads= __('Цитаты')
					.menu-item.about= __('О выставке')
					.menu-item.plan= __('Экспозиция')
					.menu-item.schedule= __('Расписание событий')
					.menu-item.contacts= __('Как добраться')
					.menu-item.partners= __('Участники проекта')
			if locale == 'ru'
				a.menu-items.locale(href='/lang/en') en
			else
				a.menu-items.locale(href='/lang/ru') ru

		.content-block

			//- Banner

			.content-item.banner

			//- Main

			.content-item.main
				img.logo(src='img/logos/main.svg')
				.content-partners
					a.mkrf(href='http://mkrf.ru', target='_blank'): span(style='background-image: url(img/logos/mkrf.png)')
					a.cult_mos(href='http://kultura.mos.ru', target='_blank'): span(style='background-image: url(img/logos/cult_mos.svg)')
					a.manege(href='http://moscowmanege.ru', target='_blank'): span(style='background-image: url(img/logos/manege.svg)')

			//- Heads

			.content-item.heads: .content-inner
				.swiper-container.swiper-container-h
					.swiper-pagination.swiper-pagination-h
					.swiper-wrapper
						if locale == 'ru'
							include heads/ru.jade
						//- else
							include heads/en.jade

			//- About

			.content-item.about: .content-inner
				.content-title!= getDash(__('О выставке'))
				.content-columns
					if locale == 'ru'
						include about/ru.jade
					//- else
						include about/en.jade

			//- Plan

			.content-item.plan
				#plan-canvas
				.content-inner
					.content-title!= getDash(__('Экспозиция'))
					.content-preview-image: .preview-inner
					.content-preview-column.active
						.preview-images
							.swiper-container.swiper-container-h
								.swiper-pagination.swiper-pagination-h
								.swiper-button-prev
								.swiper-button-next
								.swiper-wrapper
									.swiper-slide.preview-image(path='img/plan/halls/p1.jpg', style='background-image: url(img/plan/halls/p1.jpg)')
									.swiper-slide.preview-image(path='img/plan/halls/p2.jpg', style='background-image: url(img/plan/halls/p2.jpg)')
									.swiper-slide.preview-image(path='img/plan/halls/p3.jpg', style='background-image: url(img/plan/halls/p3.jpg)')
						.preview-body: .preview-body-inner
							.preview-title ЗАГОЛОВОК
							.preview-description
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			//- Schedule

			.content-item.schedule: .content-inner
				.content-title!= getDash(__('Расписание событий'))
				.content-schedule
					if locale == 'ru'
						include schedule/ru.jade
					//- else
						include schedule/en.jade

			//- Contacts

			.content-item.contacts
				#map-window
					if locale == 'ru'
						include contacts/ru.jade
					//- else
						include contacts/en.jade
				#map-canvas
				.content-inner
					.content-title!= getDash(__('Как добраться?'))

			//- Partners

			.content-item.partners
				.content-inner
					.content-title!= getDash(__('Участники проекта'))
					.content-partners-columns
						if locale == 'ru'
							include partners/ru.jade
						//- else
							include partners/en.jade

			//- Footer

			.content-footer: .footer-inner: .footer-desc
				.desc-item.left &copy; D D | A D 2016
				.desc-item.right: a(href='http://moscowmanege.ru', target='_blank') MOSCOWMANEGE.RU